/* BASIC css start */
/* class-list */

/* prd-class-hd */
.prd-class-hd { zoom: 1; overflow: hidden;width:1260px;padding:20px 0 5px 0; margin:0 auto 0px; }
.prd-class-hd .loc-navi {float: right;color:#999;}
.prd-class-hd .loc-navi a { color: #999; }

#productClass .cate-wrap { overflow:hidden }
.bcate {text-align:center; color:#333; font-size:24px; line-height:1; font-weight:400; background:none; padding:35px 0 40px 0;font-family:Roboto Condensed,Nanum Gothic,sans-serif; letter-spacing:5px; }



.sub_top_ban {width:100%; height:270px;  line-height:270px;}


.sub_top_ban.best {background:#e7ecf3 url('http://nasign.cafe24.com/mall/main/sub_top_ban_best.jpg') center center no-repeat;}
.sub_top_ban.sale {background:#cedbc9 url('http://nasign.cafe24.com/mall/main/sub_top_ban_sale.jpg') center center no-repeat;}
.sub_top_ban.bags {background:#f1ebeb url('http://nasign.cafe24.com/mall/main/sub_top_ban_bag.jpg') center center no-repeat;}
.sub_top_ban.shoes {background:#e0dfe4 url('http://nasign.cafe24.com/mall/main/sub_top_ban_shoe.jpg') center center no-repeat;}
.sub_top_ban.clothes {background:#e6e6e6 url('http://nasign.cafe24.com/mall/main/sub_top_ban_clothes.jpg') center center no-repeat;}
.sub_top_ban.acc {background:#f6f2ef url('http://nasign.cafe24.com/mall/main/sub_top_ban_acc.jpg') center center no-repeat;} 

.sub_top_text {font-family:Roboto Condensed,Nanum Gothic,sans-serif; font-size:28px; letter-spacing:7px; text-align:right;color:#000;}


/* class-list */
.class-list {width:1260px;margin:0 auto; zoom: 1;}
.class-list ul { padding: 0; margin:0 auto; text-align:center;}
.class-list li {/* float:left; */ display:inline-block; width:auto; padding:0; margin:0 8px 15px 8px ;} 
.class-list li a { display:block; height:38px; padding:0; text-align:center; color: #555;line-height: 38px; font-size:13px; border-radius:6px; font-weight:normal; background:#f5f5f5; padding:0px 25px;
-webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s;  transition: all 0.3s;}
.class-list li a:hover { color:#000;background-color:#e9e9e9;font-weight:normal; border:0;}
.class-list li .num { color: #555;}
.class-list li a.sel { color:#000;background-color:#e9e9e9;}

/* best-item */

.best-item {width:100%; margin:60px 0 0;border:1px solid #e9e9e9; border-left:0px; border-right:0px; background-color:#f9f9f9;position:relative;}
.sub_recommend_title {text-align:center; color:#000; font-size:18px; line-height:18px; font-weight:normal; background:none; padding:60px 0 60px; font-family:Roboto Condensed,Nanum Gothic,sans-serif;letter-spacing:2px;}
.best-item .prd-list {width:1260px;margin:0 auto 50px;}
.best-item .prd-list table .info {background:transparent;}
.new-item {margin:0;border:0;background-color:#fff;}


/* total-sort */
#productClass .total-sort {height:50px;padding:0 10px;border:0; margin:50px auto 50px; }
#productClass .total-sort .total { font-size:12px;font-weight:300;color:#333;line-height:50px;}
#productClass .total-sort .total dd {color:#333;font-weight:700;}
#productClass .total-sort .sort {margin:0;}
#productClass .total-sort .total img { line-height:11px;vertical-align:middle;}
#productClass .total-sort li {color:#999;line-height:50px;}
#productClass .total-sort li a { font-size:12px;color:#666;line-height:50px;font-weight:300;}
#productClass .total-sort li a:hover {color:#000;}



/* BASIC css end */
