@charset "UTF-8";

body{text-align: center;}
table{
width:1000px;
position: relative;
left:50%;
transform:translateX(-50%);
margin: 50px;
}
table, th, td{border: 1px solid;
color: black;
}
th,td{padding:5px;}
h1{display: inline-block; padding-top: 50px;}
h3{display: inline-block; padding-top: 50px;}

.in_bu{width:100px; top:0; right: 0; bottom:0; left:0; margin:auto;}
