/* BASIC css start */
@import url(https://fonts.googleapis.com/css?family=Francois+One);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

#mask { display:none; position:fixed; top:0; left:0; right:0; bottom:0; width:100%; height:100%; background:rgba(0,0,0,0.6); z-index:200 }



html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img { margin:0; padding:0; }
html { width:100%; height:100%;overflow-y:scroll; }
li { list-style:none; }
img,fieldset { border:none; vertical-align:top; }
table { border:0; border-spacing:0; border-collapse:collapse; }
th,td { border:0;  }

.cboth { clear:both;*zoom:1 }
.cboth:after { content:" "; display:block; clear:both; }
.fleft {float:left !important;}
.fright {float:right !important;}
.left { text-align: left; }
.center { text-align: center; }
.top { caption-side: top; }
.right { text-align: right; }
.bold { font-weight: bold; }
.none { display:none; }
.relative {position:relative;}
.width1260 {width:1260px;margin:0 auto;}

.pdt5 {padding-top:5px;}
.pdt10 {padding-top:10px;}
.pdt15 {padding-top:15px;}
.pdt20 {padding-top:20px;}
.pdt30 {padding-top:30px;}
.pdt40 {padding-top:40px;}
.pdt50 {padding-top:50px;}
.pdt60 {padding-top:60px;}
.pdt70 {padding-top:70px;}
.pdt80 {padding-top:80px;}
.pdt90 {padding-top:90px;}
.pdt100 {padding-top:100px;}

.pdb10 {padding-bottom:10px;}
.pdb20 {padding-bottom:20px;}
.pdb15 {padding-bottom:15px;}
.pdb40 {padding-bottom:40px;}
.mrt20 {margin-top:20px;}


/* 공통레이아웃 */
#header, #layerWrap, #contentWrap, #ftLink .link, #footer { width:1260px; }
#content { width:1260px;min-height:600px;background-color:#fff; margin:20px auto 0px;}
#contentWrap {background-color:#fff;}
body {min-width:1260px;}
a {text-decoration:none;}
body, h1, h2, h3, h4, h5, h6, table, input, select, textarea, a {font-family:'Roboto', 'Nanum Gothic',Dotum, AppleGothic, Helvetica, sans-serif;}


#content img {max-width:1260px; height:auto;}

/* 롤오버 */
a img.menuon {display:none;}
a img.menuoff {display:inline;}
a:hover img.menuon {display:inline;}
a:hover img.menuoff {display:none;}



/* 게시판 상단 메뉴 안보이게 */
.bbs-hd {display:none;}
.bbs-tit  {margin-top:30px;}
.bbs-tit h3 {display:none;}
.cont-sub-des {display:none;}

/* 게시판 컨텐츠 중앙정렬 */
.bbs-table-view .data-bd-cont {text-align:center;}

/* 게시판 이전글 다음글 */
.list-link { padding:10px 15px; border-top: 1px solid #e9e9e9; border-bottom: 1px solid #e9e9e9; }
.list-link li { padding:0px 0px; font-size:14px; color:#222; height:38px; line-height:38px;}
.list-link li a {  color:#222; font-size:14px; height:38px; line-height:38px;}
.list-link span.arrow { padding: 0px 5px 0px 15px; color: #828282; font-weight:bold }
.list-link span.arrow.prev { background: url(/images/d3/modern_simple/common/icon_prev_arrow.gif) no-repeat left 4px }
.list-link span.arrow.next { background: url(/images/d3/modern_simple/common/icon_next_arrow.gif) no-repeat left 4px }



.sliderkit {position:relative;display:none;}
.sliderkit a,
.sliderkit a:hover {text-decoration:none;}
.sliderkit .sliderkit-nav {z-index:10;position:absolute;text-align:center;}
.sliderkit .sliderkit-nav-clip {position:relative;overflow:hidden;margin:0 auto;}
.sliderkit .sliderkit-nav-clip ul {position:relative;left:0;top:0;list-style:none;margin:0;padding:0;}
.sliderkit .sliderkit-nav-clip ul li {float:left;}
.sliderkit .sliderkit-nav-clip ul li a {display:block;overflow:hidden;}
.sliderkit .sliderkit-btn {z-index:10;}
.sliderkit .sliderkit-panel {z-index:1;position:absolute;}
.sliderkit .sliderkit-panel-active {z-index:5;}
.sliderkit .sliderkit-panel-old {z-index:4;}



/* 새페이지 공용타이틀 */
.sub_page_title01 {text-align:center; padding-top:40px;}
.sub_page_title01 p{ padding:30px 0 20px; font-size:38px; line-height:38px; color: #222; font-family:Roboto,Nanum Gothic,sans-serif; font-weight:700;}
.sub_page_title01 p:nth-child(2) {font-size:16px; line-height:22px; color:#777; text-align:center; width:475px; margin:0 auto; padding:20px 0; margin-bottom:70px; border-top:1px solid #efefef; letter-spacing:-0.5px; font-weight:normal;}

.concept_page_title01 {text-align:center; padding-top:20px;}
.concept_page_title01 p{ padding:20px 0 20px; font-size:24px; line-height:1; color: #333; font-family:Roboto Condensed, Nanum Gothic, sans-serif; font-weight:400; letter-spacing:5px;}
.concept_page_title01 p:nth-child(2) {font-size:14px; line-height:24px; color:#777; text-align:center; margin:0 auto; padding:0px 0; margin-bottom:70px; letter-spacing:-0.5px; font-weight:normal;}


/* 캠페인페이지 카달로그 다운로드 버튼*/
.btn_catalog {width:180px; height:48px; margin:80px auto 0; text-align:center; border:1px solid #2e2e2e; line-height:48px; font-size:14px; color:#222; cursor:pointer; letter-spacing:-0.3px; display:block;}
.btn_catalog:hover {background-color:#222; color:#fff;}




/* 공통 메뉴 스타일 */
.common_tab ul {text-align:center; font-size:0px; margin:20px 0px 50px;}
.common_tab ul li {display:inline-block; margin:0px 10px;}
.common_tab ul li a {display:block; background-color:#f5f5f5; height:38px; line-height:38px; padding:0px 30px; border-radius:8px; transition: .3s ease all;-webkit-transition: .3s ease all;}
.common_tab ul li a:hover {background-color:#e9e9e9;} 









/*------ 상단 슬라이드 배너 ------*/
#topbanner{ height:80px;clear:both; margin:0px; padding:0px; font-size:0px; background-color:#f2f2f2;}
#topbanner .swiper0 a {display:block; height:80px; background-position:top center !important; background-repeat:no-repeat !important;}
#topbanner .swiper-button-prev-top {background-image: url(/design/nasign/0744hera/btn_left_b.png); top:-25px; right:auto; left:0px; width:16px; height:16px; background-size:16px 16px;}
#topbanner .swiper-button-next-top {background-image: url(/design/nasign/0744hera/btn_right_b.png); top:-25px; right:0px; left:auto; width:16px; height:16px; background-size:16px 16px;}
#topbanner .swiper0 .inner {width:1260px; position:relative; z-index:2222; text-align:center; margin:0 auto;}

#topbanner .swiper-button-prev-top:hover {opacity:0.5; transition:all 0.3s;-webkit-transition:all 0.3s;-o-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;}
#topbanner .swiper-button-next-top:hover {opacity:0.5; transition:all 0.3s;-webkit-transition:all 0.3s;-o-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;}


#mheader {width:100%; clear:both; height:117px;  margin:0 auto; border-bottom:1px solid #e9e9e9;}
#mheader .inner {width:1260px; margin:0 auto;}

/*------ 상단 영역 01 ------*/
.header_sec01 {height:28px; line-height:28px; margin-top:22px;}
.header_sec01 .sec01_right {float:right; padding-right:0px;}
.header_sec01 .sec01_right ul li:first-child {padding-left:0px !important;}
.header_sec01 .sec01_right ul li {float:left; padding:0px 9px;}
.header_sec01 .sec01_right ul li a {font-size:11px; font-family: 'Roboto', "Nanum Gothic" , sans-serif; color:#222; font-weight:300; letter-spacing:0.5px;}



/*-------- 언어바 추가 201023 --------*/

.header_sec01 .sec01_left_1 {float:left; padding-right:0px;}
.header_sec01 .sec01_left_1 ul li:first-child {padding-left:0px !important;}
.header_sec01 .sec01_left_1 ul li {float:left; padding:0px 9px;}
.header_sec01 .sec01_left_1 ul li a {font-size:11px; font-family: 'Roboto', "Nanum Gothic" , sans-serif; color:#222; font-weight:300; letter-spacing:0.5px;}
.header_sec01 .sec01_left_1 ul li a.on {text-decoration: underline; font-weight: 500;}
.header_sec01 .sec01_left_1 ul li a:hover {text-decoration: underline;}




/* 상단 영역: 적립금 아이콘 관련 */
#mheader .join {position:relative;}
#mheader .scroll {position:absolute; bottom:-28px; left:-6px; z-index:100; background:url("/design/nasign/0744hera/top_ar.png");  background-repeat:no-repeat;  background-position:top center; }
#mheader .scroll div { background-color:#3d3d3d; margin-top:4px; line-height:22px; height:22px; color:#fff; font-size:12px; text-align:center; width:60px;}



.header_sec01 .sec01_right .allcategory_open img { font-size:0px; padding-top:7px !important; padding-left:24px;}
.header_sec01 .sec01_right .allcategory_open a {padding:0px !important;}
.header_sec01 .sec01_right .allcategory_open {padding:0px !important;}
.header_sec01 .sec01_right .top_search {background:url("/design/nasign/0744hera/search_btn.png") no-repeat; background-position:right 10px; padding-right:12px !important; position:relative;}

.header_sec01 .search_box {display:table-cell;padding:0; vertical-align:middle;  }
.header_sec01 .search_form {float:left; border:1px solid #dedede; width:176px; }
.header_sec01 .search_form img{float:left;}
.header_sec01 .search_form .MS_search_word {float:left;width:130px; height:36px;padding-left:10px;border:0;background-color:#fff;color:#999;font-size:12px; }
.header_sec01 .search_btn {float:left; cursor:pointer;}

/* 검색창 */
#img1_con {display:none; z-index:50; position:absolute; top:30px;  right:0px; }
#close1 {position:absolute; top:0px; right:-36px; cursor:pointer; font-size:20px; height:36px; width:36px; text-align:center; line-height:36px; font-family:"Roboto Condensed";}

/*------ 상단 영역 02 ------*/
.header_sec02 {text-align:center; height:44px; line-height:44px; padding-top:25px;}
.header_sec02 .top_logo {padding-top:5px; float:left;}


#comment_top.fixed { width:100%; position:fixed; top:0px; left:0px; z-index:100; border-bottom:1px solid #dedede; height:56px;
-webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s;  transition: all 0.3s; background-color:rgba(255, 255, 255, 0.9);}
#comment_top.fixed .inner { width:1260px; margin:0 auto;}


#left_menu {padding:0px; text-align:center;display:inline-block; float:right;}
#left_menu > li {padding:0;text-align:center;position:relative;display:inline-block;float:left;height:44px;}
#left_menu > li > a {display:block; height:38px; line-height:38px; font-size:15px; color:#000;  font-family: 'Roboto', "Nanum Gothic" , sans-serif;  font-weight:500; letter-spacing:0.1px; padding-left:66px;}
#left_menu > li .mouse_hover,
#left_menu > li > a:hover {color:#000;}
#left_menu > li > div.arrow {visibility:hidden;opacity:0;width:12px;height:7px; background:transparent url('/design/nasign/0744hera/cate_arrow.png') no-repeat;position:relative;top:10px;left:80px; margin:0;padding:0px;z-index:21;transition:all 0.3s;-webkit-transition:all 0.3s;-o-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;}
#left_menu > li .sub1 {background-color:#fff;visibility:hidden;position:absolute;opacity:0; top:50px; left:60px; z-index:20; width:150px; padding:10px 0;border:1px solid #dedede;transition:all 0.3s;-webkit-transition:all 0.3s;-o-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;}
#left_menu > li .sub1 > li {position:relative;height:30px;}
#left_menu > li .sub1 > li .sub_cate_on_arrow {opacity:0.5; position:absolute;top:40%; right:10px;background:url('/design/nasign/0744hera/sub_cate_on.png') no-repeat;z-index:20;width:5px;height:8px;margin-top:-2px;-webkit-transition:-webkit-transform 150ms ease-out;-moz-transition:transform 150ms ease-out;-ms-transition:transform 150ms ease-out;-o-transition:transform 150ms ease-out;transition:transform 150ms ease-out}
#left_menu > li .sub1 > li .sub_cate_on_arrow.rotateon {-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
#left_menu > li .sub1 > li > a {font-size:12px; display:block; text-align:left; color:#777;  height:30px; line-height:30px; margin:0px; width:150px; text-indent:10px;font-family:'Roboto', "Nanum Gothic" , sans-serif;}
#left_menu > li .sub1 > li > .sub_mouse_hover,
#left_menu > li .sub1 > li > a:hover {background-color:#fafafa;color:#000;}

#left_menu > li .sub1 > li .sub2 {display:none; position:absolute;top:-6px;left:100%;z-index:21; width:150px; background-color:#fff;padding:5px 0;border:1px solid #dedede;}
#left_menu > li .sub1 > li .sub2 > li {height:30px;}
#left_menu > li .sub1 > li .sub2 > li > a {font-size:12px; display:block; text-align:left; color:#777;  height:30px; line-height:30px; margin:0px;text-indent:15px;font-family:'Roboto', "Nanum Gothic" , sans-serif;}
#left_menu > li .sub1 > li .sub2 > li > a:hover {background-color:#fafafa;color:#000;}


#allcategory {display:none;}
#allcategory .mintroClose {cursor:pointer;position:absolute; right:-50px; top:0px; z-index:2222;}
#allcategory .mintroClose img.rotate { border-radius: 50em; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
#allcategory .mintroClose img.rotate:hover { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);}
#all_cate_area .all_cate_section01 {clear:both; width:1260px;min-height:424px;background:transparent;}
#all_cate_area .all_cate_section01 > ul {float:left;border-right:1px solid #7d7c81; text-indent:38px; width:208px; min-height:350px;}
#all_cate_area .all_cate_section01 > ul:first-child {border-left:1px solid #7d7c81;}
#all_cate_area .all_cate_section01 ul li.a_sub_title a {font-size:16px;color:#fff;display:block; width:208px;padding-bottom:20px;letter-spacing:1px;text-align:left; font-weight:700; }
#all_cate_area .all_cate_section01 .a_sub_cate {position:relative;height:30px;}
#all_cate_area .all_cate_section01 .a_sub_cate a {font-size:14px; color:#cbcbcb; text-align:left; line-height:30px; display:block;}
#all_cate_area .all_cate_section01 .a_sub_cate a.sub_mouse_hover,
#all_cate_area .all_cate_section01 .a_sub_cate a:hover {color:#fff;}
#all_cate_area .all_cate_section01 .a_sub_cate .sub_cate_on_arrow {position:absolute;top:50%;right:30px;background:url('/design/nasign/0744hera/sub_cate_on2.png') no-repeat;z-index:20;width:5px;height:8px;margin-top:-4px;-webkit-transition:-webkit-transform 150ms ease-out;-moz-transition:transform 150ms ease-out;-ms-transition:transform 150ms ease-out;-o-transition:transform 150ms ease-out;transition:transform 150ms ease-out}
#all_cate_area .all_cate_section01 .a_sub_cate .sub_cate_on_arrow.rotateon {-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
#all_cate_area .all_cate_section01 .a_sub_cate .all_cate_sub {display:none; position:absolute;top:-5px;left:90%;z-index:21;width:104px;background-color:#555;border:1px solid #444;padding:5px 10px;border-radius:5px;-webkit-border-radius:5px; -moz-border-radius:5px;}
#all_cate_area .all_cate_section01 .a_sub_cate .all_cate_sub > li {height:30px;width:104px;margin:0;}
#all_cate_area .all_cate_section01 .a_sub_cate .all_cate_sub > li > a {text-align:left;display:block;line-height:30px;height:30px;font-size:14px;color:#cbcbcb;padding:0;margin:0;text-indent:0;}
#all_cate_area .all_cate_section01 .a_sub_cate .all_cate_sub > li > a:hover {color:#fff;}




#all_cate_area .all_cate_section01 ul:nth-child(7) {border-left:1px solid #7d7c81; }


.icon_new {display:inline-block;}
.icon_new img {padding:3px;}

.main {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.main a {
font-family: 'Roboto', "Nanum Gothic" , sans-serif;
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 23px;
  background: linear-gradient(to bottom, #000, #000 80%, #fff 80%, #fff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  transition: background 0.2s ease-out;
  white-space: nowrap;
}

.main span {
  position: relative;
}

.main span:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 5px;
  background: #000;
  bottom: 3px;
  transition: all 0.2s ease-out;
}

.main a:hover {
  background-position: 0 5px;
}

.main span:hover:before {
  transform: translateY(10px)
}



/* BASIC css end */
