/* BASIC css start */
#mypage { position: relative; margin: 0 auto; margin-bottom: 100px; }
#mypage .page-body { padding-top:60px }

/* 회원 정보 */
#mypage .info { border:1px solid #e9e9e9; *zoom:1; overflow:hidden }
#mypage .info:after { display:block; clear:both; content:'' }
#mypage .info .user, 
#mypage .info .order { margin:25px 0; float: left; min-height:155px }
#mypage .info .user { margin-left:35px; position:relative; width:720px; border-right:1px dashed #e9e9e9 }
#mypage .info .user .user-img { position:absolute; top:7px; left:0; width:140px; height:140px; background:url(//image.makeshop.co.kr/makeshop/d3/basic_simple/mypage/bg_mypage_user.gif) 0 0 no-repeat }
#mypage .info .user .user-img img { width:140px; height:140px }
#mypage .info .user .user-info { padding:15px 0 0 170px }
#mypage .info .user .user-info p { font-size:15px; color:#202020 }
#mypage .info .user .user-info .box { padding-top:10px }
#mypage .info .user .user-info .box dl { padding-top:10px; *zoom:1 }
#mypage .info .user .user-info .box dl:after { display:block; clear:both; content:'' }
#mypage .info .user .user-info .box dl dt { float:left; width:90px; font-size:14px }
#mypage .info .user .user-info .box dl dd { float:left; font-size:14px; color:#8d8d8d }
#mypage .info .order { padding:10px 0 0 49px; float:left; width:243px }
#mypage .info .order dt, 
#mypage .info .order dd { padding-top:8px; float: left; font-size:14px }
#mypage .info .order dt { width: 45%; clear: both; }
#mypage .info .order dd { width: 50%; text-align:right; }
#mypage .info .order dd a { font-size:14px; color:#8d8d8d }
#mypage .info .order dd a:hover { text-decoration: underline; }
#mypage .info .order .tot { margin-bottom:10px; font-size:15px; font-weight: bold; }

/* 회원 그룹 정보 */
#mypage .grp { margin-top:40px; font-size:16px; color:#2e2e2e; text-align: center; line-height:30px }
#mypage .grp span { font-weight:bold }

/* 타이틀 */
#mypage .hd { position: relative; margin-top:80px }
#mypage .hd h3 { font-size:18px; color:#2e2e2e; font-weight:bold; line-height:18px }
#mypage .hd .view { position: absolute; top:0; right:0; color:#8c8b8b }

/* 주문정보 & 등록 게시글 */
#mypage .tbl { margin-top:10px }
#mypage .tbl th { padding:15px 0; font-size:13px; color:#000; font-family:Verdana; font-weight:normal; border-top:1px solid #000; border-bottom:1px solid #e9e9e9 }
#mypage .tbl td { padding:15px 0; color:#343434; border-bottom:1px solid #e9e9e9 }

/* 관심상품 정보 */
#mypage .lst { margin-top:10px; padding-top:28px; border-top:1px solid #000 }
#mypage .lst .item-wrap .item-cont { width:1128px }
#mypage .lst .item-wrap .item-cont .item-list { padding-right:28px; width:254px }
#mypage .lst .item-wrap .item-cont .item-list .thumb { width:254px; height:254px }
#mypage .lst .item-wrap .item-cont .item-list .thumb img { width:254px; height:254px }
#mypage .lst .item-wrap .item-cont .item-list .prd-info { padding-top:13px }
/* BASIC css end */
