  @charset "utf-8";
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0;-webkit-text-size-adjust:none}
legend{display:none;}
body{ margin: 0px; padding:0; font-family:'Apple SD Gothic Neo', 돋움,Dotum,AppleGothic,sans-serif; font-size:12px; color: #666; line-height: 18px; }
select {font-family:'Apple SD Gothic Neo', "돋움",Dotum,AppleGothic,sans-serif; font-size:12px;}


.order_table01{ clear:both;margin-top:20px; }
.order_table01_tit{ width:756px; }
.order_table01_tit h4{float:left; }
.order_table02_tit{ width:756px; margin-bottom:5px;}
.order_table02_tit h4{float:left; }
.order_table05_tit{ width:756px; margin-bottom:5px; }
.order_table05_tit h4{float:left; }
.order_table06_tit{ width:756px; height:23px; margin-bottom:5px; }
.order_table06_tit p{float:left;vertical-align:middle;display: inline-block;line-height: 23px; }
.order_table06_tit .excel_btn06{vertical-align:middle;display: inline-block;line-height: 23px; }
.order_table06_tit p a{vertical-align:middle; color: #386da1;}
.order_table06_tit p a:hover{vertical-align:middle; text-decoration:underline;color: #386da1;}


.order_table01_tit p, .cancel_btn01{float:left; margin-left:10px;}
.order_table{width:756px; border:1px solid #d1d1d1; border-collapse:collapse; border-spacing:0px;  }
.order_table tbody th{padding:7px 5px; font-size:11px;line-height:13px;border:1px solid #d1d1d1; border-top:none; border-left:none; background:#f5f5f5; color:#606060; font-weight:bold; text-align: left;}
.order_table tbody td{padding:7px 5px; font-size:12px;line-height:13px;border:1px solid #d1d1d1; border-top:none; border-left:none; background:#ffffff; color:#3e3e3e; text-align: left;}




/* -- 기본/배송 정보02 시작 -- */
.order_table02{ clear:both;margin-top:10px; }
.order_table02 .order_table{width:756px; border-top:1px solid #d1d1d1;border-collapse:collapse; border-spacing:0px; }
.order_table02 .order_table tbody th{padding:7px 5px; font-size:11px;line-height:13px;border:1px solid #d1d1d1; border-top:none; border-left:none; background:#f5f5f5; color:#606060;font-weight:bold; text-align: left;}
.order_table02 .order_table tbody td{padding:7px 5px; font-size:12px; line-height:13px;border:1px solid #d1d1d1; border-top:none; border-left:none; background:#ffffff; color:#333333; text-align: left;}
.order_table02 .order_table tbody td.order_table02_tr{line-height:18px;}
.table_btn_group{display:inline-block; *zoom:1; *display:inline; height:26px; line-height:23px vertical-align:middle; }
.text_inline_td{display:inline-block; *zoom:1; *display:inline; height:26px; line-height:26px; vertical-align:middle; }


/* 파랑색버튼 */
.order_table01 .order_table td.btn{padding:5px;text-align:left}
.order_table01 .table_btn_group{margin-left:5px;display:inline-block;*zoom:1;*display:inline; vertical-align:middle; }
.order_table01 .order_table td.btn .table_btn_group .table_btn01{display:inline-block;*zoom:1;*display:inline;overflow:hidden; line-height:19px}
.order_table01 .table_btn_group .table_btn01 .blue19_leftRound06{float:left; display:block; height:19px; line-height:19px; vertical-align:middle; padding-left:10px; background:url(//image.aladin.co.kr/img/bu/standard_btn2.png) 0 -1310px repeat-x; }
.order_table01 .table_btn_group .table_btn01 .blue19_rightRound06{float:left; display:block; width:10px; height:19px; line-height:19px; vertical-align:middle; background:url(//image.aladin.co.kr/img/bu/standard_btn2.png) -352px -1310px no-repeat; }
.order_table01 .table_btn_group .table_btn01 .blue19_leftRound06 a{ color:#ffffff; font-size:11px; font-family:'Apple SD Gothic Neo',Dotum, 돋움, AppleGodic, sans-serif; text-decoration:none; height:19px; line-height:19px; vertical-align:middle; }
.order_table01 .table_btn_group .table_btn01 .blue19_leftRound06 a.font02:link{ color:#ffffff; font-size:11px; font-family:'Apple SD Gothic Neo',Malgun Gothic, Dotum, 돋움, AppleGodic, sans-serif; text-decoration:none; height:19px; line-height:19px; vertical-align:middle; }

.order_table01 .table_btn01:hover .blue19_leftRound06{background:url(//image.aladin.co.kr/img/bu/standard_btn2.png) 0px -1329px no-repeat;}
.order_table01 .table_btn01:hover .blue19_rightRound06{background:url(//image.aladin.co.kr/img/bu/standard_btn2.png) -352px -1329px no-repeat;}

.order_table01 .table_btn01 a.font01:link { color:#fff; font-size:12px; font-family:'Apple SD Gothic Neo',Dotum, 돋움, sans-serif; text-decoration:none;  display:block; text-align:center; vertical-align:middle; }
.order_table01 .table_btn01 a.font01:visited {  color:#fff;  font-size:12px; font-family:'Apple SD Gothic Neo',Dotum, 돋움, sans-serif; text-decoration:none; vertical-align:middle; }
.order_table01 .table_btn01 a.font01:hover { color:#fff;  font-size:12px;font-family:'Apple SD Gothic Neo',Dotum, 돋움, sans-serif; text-decoration:none; vertical-align:middle; }


/* 흰색버튼 */
.table_btn_group .table_btn01 .white19_leftRound03{float:left; display:block; height:19px; line-height:19px; vertical-align:middle; padding-left:5px; background:url(//image.aladin.co.kr/img/bu/btn_group2.png) 0 -1302px repeat-x; }
.table_btn_group .table_btn01 .white19_rightRound03{float:left; display:block; width:10px; height:19px; line-height:19px; vertical-align:middle; background:url(//image.aladin.co.kr/img/bu/btn_group2.png) -354px -1302px no-repeat; }
.table_btn_group .table_btn01 .white19_leftRound03 a{ color:#000000; font-size:11px; font-family:'Apple SD Gothic Neo',Dotum, 돋움, AppleGodic, sans-serif; text-decoration:none; height:19px; line-height:19px; vertical-align:middle; }
.table_btn_group .table_btn01 .white19_leftRound03 a.font02:link{ color:#000000; font-size:11px; font-family:'Apple SD Gothic Neo',Malgun Gothic, Dotum, 돋움, AppleGodic, sans-serif; text-decoration:none; height:19px; line-height:19px; vertical-align:middle; }


.order_table01 .table_btn01:hover .white19_leftRound03{background:url(//image.aladin.co.kr/img/bu/standard_btn2.png) 0px -1284px no-repeat;}
.order_table01 .table_btn01:hover .white19_rightRound03{background:url(//image.aladin.co.kr/img/bu/standard_btn2.png) -354px -1284px no-repeat;}

.order_table01 .table_btn01 a.font01:link { color:#000; font-size:12px; font-family:'Apple SD Gothic Neo',Dotum, 돋움, sans-serif; text-decoration:none;   padding-top:7px; display:block; text-align:center; }
.order_table01 .table_btn01 a.font01:visited {  color:#000;  font-size:12px; font-family:'Apple SD Gothic Neo',Dotum, 돋움, sans-serif; text-decoration:none; }
.order_table01 .table_btn01 a.font01:hover { color:#000;  font-size:12px;font-family:'Apple SD Gothic Neo',Dotum, 돋움, sans-serif; text-decoration:none; }

.order_table05 .order_table td.btn .table_btn_group .table_btn01 {display: inline-block;overflow: hidden;line-height: 19px;}
.order_table05 .order_table td.btn .table_btn_group .linkBtn {display: inline-block;overflow: hidden;line-height: 19px;}



.order_table05 .table_btn01:hover .white19_leftRound03{background:url(//image.aladin.co.kr/img/bu/standard_btn2.png) 0px -1284px no-repeat;}
.order_table05 .table_btn01:hover .white19_rightRound03{background:url(//image.aladin.co.kr/img/bu/standard_btn2.png) -354px -1284px no-repeat;}

.order_table05 .table_btn01 a.font01:link { color:#000; font-size:12px; font-family:'Apple SD Gothic Neo',Dotum, 돋움, sans-serif; text-decoration:none;   padding-top:7px; display:block; text-align:center; }
.order_table05 .table_btn01 a.font01:visited {  color:#000;  font-size:12px; font-family:'Apple SD Gothic Neo',Dotum, 돋움, sans-serif; text-decoration:none; }
.order_table05 .table_btn01 a.font01:hover { color:#000;  font-size:12px;font-family:'Apple SD Gothic Neo',Dotum, 돋움, sans-serif; text-decoration:none; }




/* -- 주문 상품 정보 시작 -- */
.order_table03{ clear:both; margin-top:40px;}
.order_table03 .order_table{ width:756px; border:1px solid #d1d1d1;border-collapse:collapse; border-spacing:0px; clear:both}
.order_table03 .order_table thead th{padding:7px 1px; font-size:11px;line-height:18px;border:1px solid #d1d1d1; border-left:none; border-right:none; background:#f5f5f5;color:#606060;font-weight:bold; text-align:center;}
.order_table03 .order_table tbody td{padding:7px 1px; line-height:18px;font-size:12px; border:1px solid #d1d1d1; border-left:none; border-right:none; background:#ffffff;color:#3e3e3e; }
.order_table03 .order_table .td_thanks{text-align:center;}
.order_table03 .order_table .td_item{text-align:left;}
.order_table03 .order_table .td_checkbox{ text-align: right;  padding-right: 14px;} /*선택박스text-align:center;*/
.order_table03 .order_table .td_amount{ text-align:right; padding-right:20px;}
.order_table03 .order_table .td_mileage{text-align:left; padding-left:10px;}

.order_table03_tit{ width:756px; }
.order_table03_tit h4{float:left; }
.order_table03_tit p, .order_table03_tit .sms_btn06{float:left; margin-left:10px;}
.order_table03_tit p{vertical-align:middle;display: inline-block;line-height: 23px; }


.order_table03 .order_table03_info { width:744px; padding:5px; background:#f8f8f8; border:1px solid #f0f0f0; border-top:none;margin-bottom:30px; }
.order_table03 .order_table03_info .table04_info_tit{ color:#266baf; margin-bottom:5px; }
.order_table03 .order_table03_info .table03_info_p01{ color:#353535; padding-left:10px; background:url(https://www.aladin.co.kr/ucl_editor/img_secur/account/2005/icon_gl.gif)left 7px no-repeat; }
.order_table03 .order_table03_info .table03_info_p02{ color:#353535; padding-left:10px; background:url(https://www.aladin.co.kr/ucl_editor/img_secur/account/2005/icon_gl.gif)left 7px no-repeat; }




table, tr, td, select, input {color:#3E3E3E; font-family:'돋움','굴림',Gulim,dotum,'Segoe WPC','Segoe UI','Apple SD Gothic Neo',Helvetica,AppleGothic,Sans-serif; font-size:12px;line-height: 18px;}
ul,li {margin:0; padding:0; list-style:none;}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
table {
    border-collapse: separate;
    border-spacing: 2px;
}


element.style {
}
table, tr, td, select, input {
    color: #3E3E3E;
    font-family: '돋움','굴림',Gulim,dotum,'Segoe WPC','Segoe UI','Apple SD Gothic Neo',Helvetica,AppleGothic,Sans-serif;
    font-size: 12px;
    line-height: 18px;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
}
table[Attributes Style] {
    width: 756px;
    -webkit-border-horizontal-spacing: 1px;
    -webkit-border-vertical-spacing: 1px;
    background-color: rgb(209, 209, 209);
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
}

